#pane{
-fx-background-image: url("Surf.jpg");
-fx-background-size: 1000px;
-fx-background-repeat: no-repeat;
}
#paneTela{
    -fx-background-image: url("imagem1.jpg");
    -fx-background-size: 700px;
    -fx-background-repeat: no-repeat;
}
#btntela1{
    
}
