#pane{
-fx-background-image: url("Surf.jpg");
-fx-background-size: 1000px;
-fx-background-repeat: no-repeat;
}
#paneTela{
    -fx-background-color: #00bde8;
    
}
#btnTela1{
    -fx-background-color: #00e9d8;
  
}
#paneTela2{
    -fx-background-color: #00bde8;
}
#paneTela3{
    -fx-background-color: #00bde8;

}